[submodule "libs/external-lib"]
	path = libs/external-lib
	url = https://github.com/vijeth06/external-lib.git
[submodule "libs/external-utils"]
	path = libs/external-utils
	url = https://github.com/vijeth06/external-utils.git
[submodule "libs/external-config"]
	path = libs/external-config
	url = https://github.com/vijeth06/external-config.git
